[*]
insert_final_newline = true

[*.cs]
max_line_length = 120

resharper_keep_existing_declaration_parens_arrangement = true
resharper_keep_existing_invocation_parens_arrangement = true
resharper_keep_existing_arrangement = true

resharper_wrap_parameters_style = chop_if_long
resharper_wrap_arguments_style = chop_if_long
resharper_wrap_before_declaration_lpar = false
resharper_wrap_before_invocation_lpar = false

# XML documentation: no indent inside <summary>/<param>/etc.
resharper_xmldoc_indent_text = remove_indent
resharper_xmldoc_indent_child_elements = remove_indent
